body{
    background-color: #E0E1DD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecera{
    background-color: #0D1B2A;
    color: #E0E1DD;
    display: flex;
    flex-direction: row;
    padding:  15px 50px 15px 15px;
    justify-content: space-between;
    align-items: center;
}
.cuerpo{
    margin: auto;
    
}
.categorias{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias li{
    margin: 10px;
}
.categorias a{
    color: #E0E1DD;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.categorias li:hover a{
    color:#0D1B2A;
}
.categorias li{
    border-radius: 5px;
}
.categorias li:hover{
    background-color: #778DA9;
    color: #415A77;
    box-shadow: #E0E1DD;
    font-weight: bold;
}
.categorias .inicioSesion{
    background-color:#d76711;
}
.imgArt{
        display: flex;
        flex-direction: column;
}
.imgArt img {
    height: 250px;
    width: 250px;
}
.filtros_der{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #778DA9;
    height: auto;
    width: 250px;
    align-items: center;
    padding: 15px;
}

.catalogo {
  text-align: center;
  padding: 60px 20px;
}

.catalogo h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.catalogo p {
  font-size: 18px;
  color: #415A77;
  margin-bottom: 40px;
}

.cartas-autos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 20px;
  width: 300px;
  flex: 0 0 300px;
  transition: transform 0.3s ease;
}


.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card h2 {
  margin: 10px 0 5px;
  color: #0D1B2A;
}

.precio {
  font-size: 18px;
  color: #d76711;
  font-weight: bold;
}

.detalle {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}

.botones {
  display: flex;
  margin-left: auto;
  justify-content:center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-consultar {
  background-color: #d76711;
  color: #fff;
}

.btn-vermas {
  background-color: #778DA9;
  color: white;
}
.piedepagina{
    background-color: #778DA9;
    min-height: 400px;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 50px 20px;
color: #E0E1DD;
}