body{
    background-color: #E0E1DD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #0D1B2A;
    color: #E0E1DD;
    display: flex;
    flex-direction: row;
    padding:  15px 50px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.categorias{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias li{
    margin: 10px;
}
.categorias a{
    color: #E0E1DD;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.categorias li:hover a{
    color:#0D1B2A;
}
.categorias li{
    border-radius: 5px;
}
.categorias li:hover{
    background-color: #778DA9;
    color: #415A77;
    box-shadow: #E0E1DD;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;
}
.categorias .inicioSesion{
    background-color:#d76711;
}

.info{
position: relative;
z-index: 1;
min-height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 50px 20px;
color: #E0E1DD;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.info::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(/imagen_info.webp);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
h2{
    font-size: 60px;
}
.info p {
    font-size: 20px;
    font-weight: bold;
}
.info h2, p{
    z-index: 2;
}
.carrusel{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/fondo_carrusel.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-color: #E0E1DD;
min-height: 800px;
}
.carrusel img{
    align-items: center;
    display: flex;
    margin: auto;
    padding-top: 150px;
}
.servicios{
    background-color: #415A77;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.servicios h3, p{
    color: #E0E1DD;
  text-align: center;
}
.servicio_individuales {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.servicios_individuales img{
    height: 350px;
    width: 250px;
    border-radius: 25px;
    border: 5px solid ;
    border-color: #d76711;
    box-shadow: 0px 0px 20px #d1884f;
}
.servicios .img1{
object-position: -200px;
   object-fit: cover;
}

footer{
    background-color: #778DA9;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    color: #E0E1DD;
}

footer p {
    
}