body{
    background-color: #E0E1DD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #0D1B2A;
    color: #E0E1DD;
    display: flex;
    flex-direction: row;
    padding:  15px 50px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.categorias{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias li{
    margin: 10px;
}
.categorias a{
    color: #E0E1DD;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.categorias li:hover a{
    color:#0D1B2A;
}
.categorias li{
    border-radius: 5px;
}
.categorias li:hover{
    background-color: #778DA9;
    color: #415A77;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;
}
.categorias .inicioSesion{
    background-color:#d76711;
}

.info{
position: relative;
z-index: 1;
min-height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 50px 20px;
color: #E0E1DD;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.info::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(imagenes\ tp\ prog/imagen_info.webp);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
h2{
    font-size: 60px;
}
.info p {
    font-size: 20px;
    margin: 0px 150px;
}
.info h2, p{
    z-index: 2;
}


.servicios{
    background-color: #415A77;
    min-height: 700px;
    display: flex;
    align-items: center;
justify-content: center;
gap: 140px;
padding: 50px 20px;
}

.servicios_individuales{
    width: 300px;
    text-align: center;
}

.servicios h3, .servicios p{
    color: #E0E1DD;
}

.servicios h3{
    font-size: 24px;
    margin-bottom: 20px;
}


.servicios_individuales .img1{
    height: 300px;
    width: 100%;
    border-radius: 25px;
    border: 5px solid ;
    border-color: #d76711;
    box-shadow: 0px 0px 20px #d1884f;
    margin-top: 15px;
    margin-bottom: 20px;
}


footer{
    background-color: #778DA9;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    color: #E0E1DD;
}


.carrusel {
  position: relative;
  text-align: center;
  background-image: url("imagenes tp prog/fondo_carrusel.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.carrusel-hj{
    position: relative;
    max-width: 80%;
    display: inline-block;
}

.carrusel img {
    margin: auto;
  height: 550px;
    width: 80%;
    display: block;
  border-radius: 20px;
object-fit: contain;
}


.carrusel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(235, 146, 51);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  transition: transform 0.4s ease, background-color 0.2s ease;
}


.btn-derecha {
  right: 8%;
}
.btn-derecha:active{
    transform: translateY(-50%) scale(1.1) translateX(10px);
}


.btn-izquierda {
  left: 8%;
}

.btn-izquierda:active{
    transform: translateY(-50%) scale(1.1) translateX(-10px);
}

.btn-izquierda span {
  display: inline-block;
  transform: rotate(180deg);
}

.carrusel button:hover {
  background-color: rgb(245, 165, 73);
}

