body{
    background-color: #E0E1DD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #0D1B2A;
    color: #E0E1DD;
    display: flex;
    flex-direction: row;
    padding:  15px 50px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.categorias{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias li{
    margin: 10px;
}
.categorias a{
    color: #E0E1DD;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.categorias li:hover a{
    color:#0D1B2A;
}
.categorias li{
    border-radius: 5px;
}
.categorias li:hover{
    background-color: #778DA9;
    color: #415A77;
    box-shadow: #E0E1DD;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;
}
.categorias .inicioSesion{
    background-color:#d76711;
}

.info{
position: relative;
z-index: 1;
min-height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 50px 20px;
color: #E0E1DD;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.info::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(/imagenes\ tp\ prog/imagen_info.webp);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
h2{
    font-size: 60px;
}
.info p {
    font-size: 20px;
    font-weight: bold;
}
.info h2, p{
    z-index: 2;
}
.carrusel{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagenes\ tp\ prog/fondo_carrusel.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    background-color: #E0E1DD;
min-height: 800px;
}
.carrusel img{
    align-items: center;
    display: flex;
    margin: auto;
    padding-top: 150px;
}
.servicios{
    background-color: #415A77;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.servicios h3, p{
    color: #E0E1DD;
  text-align: center;
}
.servicio_individuales {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.servicios_individuales img{
    height: 350px;
    width: 250px;
    border-radius: 25px;
    border: 5px solid ;
    border-color: #d76711;
    box-shadow: 0px 0px 20px #d1884f;
}
.servicios .img1{
object-position: -200px;
   object-fit: cover;
}

footer{
    background-color: #778DA9;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    color: #E0E1DD;
}

footer p {
    
}

.carrusel {
  position: relative;
  text-align: center;
  background-image: url("imagenes tp prog/fondo_carrusel.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

.carrusel img {
  margin: auto;
  padding-top: 150px;
  max-width: 80%;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


.carrusel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(235, 146, 51);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}


.btn-derecha {
  right: 10%;
}


.btn-izquierda {
  left: 10%;
}

.btn-izquierda span {
  display: inline-block;
  transform: rotate(180deg);
}

.carrusel button:hover {
  background-color: rgb(245, 165, 73);
  transform: translateY(-50%) scale(1.1);
}