
      form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        gap: 10px;
        border: 2px solid #0000fefe;
        padding: 10px 40px 10px 40px;
        border-radius: 20px;
        background-color: #f5f5f5;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 5px 8px 0px #0000fefe;
      }
      h2 {
        margin: 10px 0;
        color: #0000fefe;
      }
      .label {
        font-weight: bold;
        padding: 5px 0 0px 0;
      }
      .input,
      .select,
      .textarea {
        background-color: #f5f5f5;
        border: none;
        border-bottom: #0000fefe 1px solid;
        outline: none;
        padding: 5px 0 5px 0;
      }
      .botones {
        display: flex;
        justify-content: space-between;
        margin: 15px 60px;
      }
      .boton {
        background-color: #000000fe;
        color: white;
        border: none;
        padding: 5px 20px 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }
      .boton:hover {
        background-color: #3e3efffe;
        color: #000;
      }
    