body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/imagenes\ tp\ prog/fondo_carrusel.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100hv;
    background-attachment: fixed;
}
header{
    background-color: #0D1B2A;
    color: #E0E1DD;
    display: flex;
    flex-direction: row;
    padding:  15px 50px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.categorias{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias li{
    margin: 10px;
}
.categorias a{
    color: #E0E1DD;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.categorias li:hover a{
    color:#0D1B2A;
}
.categorias li{
    border-radius: 5px;
}
.categorias li:hover{
    background-color: #778DA9;
    color: #415A77;
    box-shadow: #E0E1DD;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;
}
.categorias .inicioSesion{
    background-color:#d76711;
}
.caja{
margin-top: 50px;
margin-bottom: 50px;
}
form{
background-color: #415A77;
color: #E0E1DD;
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
border: solid ;
width: 500px;
height: 670px;
border-radius: 7px;
box-shadow: 0px 0px 20px#000000;
gap: 20px;

}
.formulario-grupo .formulario_error {
    font-size: 12px;
    display: none;
}
.formulario-grupo_input{
    position: relative;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario-mensaje{
    background-color: #f66060 ;
    padding: 0px  15px ;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    display: none;
}
.formulario-mensaje-activo{
    display: block;
}
.formulario-mensaje p {
margin: 0;
color: #000000;
}

.formulario-mensaje-exito{
    background-color: #03a71950;
    color: #00ff2a;
    padding: 0px  15px ;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    display: none;
}
.formulario-mensaje-exito-activo{
    display: block;
}
.formulario-mensaje-exito p {
    margin: 0;
}



.inputs{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px 0 5px 0;
}
.campos::placeholder{
    color: #ffffff;
}
.campos{
    border: 1px solid;
    padding: 7px;
    outline: none;
    background-color: #415A77;
        border: none;
        border: 1px solid#778DA9;
        border-radius: 3px ;
        color: #E0E1DD;
        height: 30px;
        line-height: 30px;
        transition: 0.3s ease all;
        width: 400px;
        align-items: center;
}
.campos:focus{
    border: 2px solid #d76711;
    outline: none;
    box-shadow: 0px 0px 20px rgba(163, 163, 163, 0.4);
}
textarea.campos{
    border: #778DA9 solid 1px;
    border-radius: 3px;
    height: 200px;
}
.botones{
display: flex;
justify-content: space-between;
width: 400px;
}
.botones input{
   background-color: #0D1B2A;
   color: #ffffff;
   padding: 10px 30px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   font-size: 20px;
}
.botones .Enviar{
    background-color: #d76711;
    padding: 15px 35px;
}
.botones input:hover{
    background-color: #778DA9;
    color: #0D1B2A;
    box-shadow: 0px 0px 5px rgba(163, 163, 163, 1);
}
.botones input:active{
    background-color: #0D1B2A;
    color: white;
    border: #778DA9 1px solid;
}



.formulario-grupo-correcto .formulario__validacion-estado{
color: #1ed12d;
opacity: 1;
}

.formulario-grupo-incorrecto .formulario__validacion-estado{
color: #bb2929;
opacity: 1;
}
.formulario-grupo-incorrecto .campos:focus{
        border: 2px solid #bb2929;
}

.formulario-grupo .formulario_error-activo{
    display: block;
}






